.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.themeSwitcher {
  border: none;
  background-color: transparent;
  padding: 0;

  color: var(--text-color-secondary);
  margin-left: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.themeSwitcher:hover {
  background-color: rgba(179, 141, 37, 0.836);
  color: var(--text-color-secondary);
}